services:
  spark_analysis:
    build:
      context: .
      dockerfile: Dockerfile.spark
    image: spark-final-image:latest
    container_name: spark-container-new
    environment:
      - SPARK_DRIVER_MEMORY=2g
      - SPARK_EXECUTOR_MEMORY=2g
    volumes:
      - sudoku-data:/data
      - ./output_spark:/output_spark
      - ./output_llm:/output_llm
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8080:8080"
      - "4040:4040"
    restart: "no"

volumes:
  sudoku-data:
    external: true